* {
  font-size: 2rem;
  font-family: "Sixtyfour", sans-serif;
  color: rgb(0, 0, 0);
}
.main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  display: flex;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(230, 230, 230);
}
.container div {
  margin: 0.5rem;
}
div {
  border: none;
}
